<!DOCTYPE HTML>
<html>
<head>
	<title>node-x10-server</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="css/node-x10.css" rel="stylesheet" media="screen">
	<script src="js/angular.min.js"></script>
	<script src="js/angular-resource.min.js"></script>
	<script src="js/app.js"></script>
</head>
<body ng-app="x10">
	<div class="container">
		<div class="form-horizontal panel" ng-controller="Devices">
			<div class="panel-heading">Devices</div>
			<div class="panel-body">
				<ul class="list-group">
					<li ng-repeat="device in devices | orderBy : ['house','module']" class="list-group-item">
						<span class="device-code">{{device.house | houseCode}}{{device.module | moduleCode}}</span>
						{{device.name}}
						<div class="btn-group pull-right" role="group">
							<button class="btn btn-success" ng-click="turnOn(device)">On</button>
							<button class="btn btn-danger" ng-click="turnOff(device)">Off</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="form-horizontal panel" ng-controller="Schedules">
			<div class="panel-heading">Schedules</div>
			<div class="panel-body">
				<ul class="list-group">
					<li ng-repeat="schedule in schedules | orderBy : ['time','house','module']" class="list-group-item">
						<span class="timestamp">{{schedule.time | timeStamp}}</span>
						<span class="device-code">{{schedule.house | houseCode}}{{schedule.module | moduleCode}}</span>
						<button ng-if="schedule.command===1" class="btn btn-success pull-right" ng-click="turnOn(schedule)">On</button>
						<button ng-if="schedule.command===0" class="btn btn-danger pull-right" ng-click="turnOff(schedule)">Off</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="form-horizontal panel" ng-controller="Sandbox">
			<div class="panel-heading">Sandbox</div>
			<div class="panel-body">
				<div class="form-group">
					<label for="selectHouse" class="col-xs-6 control-label">House code</label>
					<div class="col-xs-4">
						<select id="selectHouse" ng-model="house" class="form-control">
							<option value="0">A</option>
							<option value="1">B</option>
							<option value="2">C</option>
							<option value="3">D</option>
							<option value="4">E</option>
							<option value="5">F</option>
							<option value="6">G</option>
							<option value="7">H</option>
							<option value="8">I</option>
							<option value="9">J</option>
							<option value="10">K</option>
							<option value="11">L</option>
							<option value="12">M</option>
							<option value="13">N</option>
							<option value="14">O</option>
							<option value="15">P</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="selectModule" class="col-xs-6 control-label">Module</label>
					<div class="col-xs-4">
						<select id="selectModule" ng-model="module" class="form-control">
							<option value="0">1</option>
							<option value="1">2</option>
							<option value="2">3</option>
							<option value="3">4</option>
							<option value="4">5</option>
							<option value="5">6</option>
							<option value="6">7</option>
							<option value="7">8</option>
							<option value="8">9</option>
							<option value="9">10</option>
							<option value="10">11</option>
							<option value="11">12</option>
							<option value="12">13</option>
							<option value="13">14</option>
							<option value="14">15</option>
							<option value="15">16</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-6 control-label">Command</label>
					<button class="btn btn-success" ng-click="turnOn()">On</button>
					<button class="btn btn-danger" ng-click="turnOff()">Off</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
